.caja6{
    grid-column: 1/4;
    footer{
        background-color: #f6ccd0;
        border: #000000 solid;
    }
        p{
            color: #000000;
            font-family: "Indie Flower";
            text-align: center;

        }
    }